.content{
	position:absolute;
	top: 315px;
	left:0px;
	width:60%;
	min-width:315px;
	display:none;
	z-index:100;
}
.inner{
	padding:10px;
	background-color:rgba(0,0,0,0.5);
}
.panel{
	position:absolute;
	height:86px;
	width:20px;
	right:0px;
	top:10px;
	cursor:pointer;
}
.hide{
	background:transparent url(/css/hide.png) no-repeat center center;
}
.show{
	background:transparent url(/css/show.png) no-repeat center center;
}
