    body { font-family: sans-serif; padding: 10px; }
    canvas { border: 1px solid #ccc; cursor: crosshair; }
    #textInput {
      position: absolute;
      display: none;
      z-index: 10;
      border: 1px solid #333;
      font-size: 16px;
    }
    #panel {
      position: fixed;
      margin-left: 30px;
      top:5em;
      left:2em;
      width:80%;
      padding:1em;
      background: repeating-linear-gradient(
        1deg,
        #ccc,
        #ccc 2px,
        #eee 4px
      );
      background-size: 100% 100%;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
    }
    .menuCel{
        width: 35em;
    }
.metal-box {
  padding: 0.5rem;
  color: #222;
  background: linear-gradient(
    135deg,
    #cfcfcf,
    olive 25%,
    silver 50%,
    gray 75%,
    #cfcfcf
  );
  border: 1px solid #aaa;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.6),
              inset 0 -1px 2px rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: center;
}
/* ラジオボタンを非表示にする */
.radioPanel input{
    display: none;
}
/* ラベルのスタイル */
.radioPanel label{
    display: block;
    float: left;
    cursor: pointer;
    width: 5em;
    margin: 0;
    padding: 0.5em;
    border-right: 1px solid #000000;
    background: repeating-linear-gradient(
      1deg,
      #ddd,
      #ddd 2px,
      #ccc 4px
    );
    background-size: 100% 100%;
    //background: #bdc3c7;
    color: #555e64;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}
/* チェックされた時のスタイル*/
.radioPanel input[type="checkbox"]:checked + label,
.radioPanel input[type="radio"]:checked + label {
    background-color: #a1b91d;
    color: #fff;
    border-right: 1px solid #000000;
    background-image: url(reten.png);
    background-size: 20px;
    background-position: right top;
    background-repeat: no-repeat;
}
/* マウスオーバーした時のスタイル */
.radioPanel label:hover{
    background-color: #a9a9a9;
}
/* 角を丸くする*/
.radioPanel label:first-of-type{
    border-radius: 3px 0 0 3px;
}
.radioPanel label:last-of-type{
    border-right: 0px;
    border-radius: 0 3px 3px 0;
} 
